.footer-container{
    background-color: rgb(58, 57, 57);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.logo-style{
    width: 200px;
    padding-top: 30px;

}


.link-info{
    margin-top: 30px;
    color: white;
}

.link-info h6{
    font-size: 14px;
}


@media only screen and (max-width: 768px) {
    .align-correction{
        margin-left: 10%;
    }

}